.heading{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:steelblue;
  
}
.titlestyle{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:darkblue;
   }